
@font-face {
  font-family: "Panton";
  src: url("fonts/Panton.otf");
}
@font-face {
  font-family: "HelveticaLTStd-Light";
  src: url("fonts/HelveticaLTStd-Light.otf");
}
@font-face {
  font-family: "HelveticaNeueLTStd-Roman";
  src: url("fonts/HelveticaNeueLTStd-Roman.otf");
}

body {
	font-family: 'Panton';
    background-color: #fff;
    overflow-x:hidden;
}
.titulo-principal {
	color:#666666;
	font-weight:400;
}
.parrafos {
	font-family: "HelveticaLTStd-Light";
	color:#666666;
	font-weight:200;
}
.titulo-secundarios {
	font-size:20px;
	font-family: "HelveticaNeueLTStd-Roman";
	margin-left: -60px;
}
.parrafos-li {
	color:#DB6D16;
	margin-top:5px;
}
.segundo-color {
	color:#666666;
}
.titulo-primerparte {
	color:#DB6D16;
}
.titulo-segundaparte {
	color:#2B66AA;
}
ul {
	padding-left: 0;
}
.line-shape {
	margin-left: calc(50% - 40px);
	width: 80px;
    height: 2px;
    background-color: #DB6D16;
    margin-top: 15px;
}
.line-shape-2 {
	width: 80px;
    height: 2px;
    background-color: #DB6D16;
    margin-top: 15px;
}
.campos-form {
	border: solid 2px #2D68AC;
    padding: 10px;
    margin-right:5px;
    margin-top:5px;
    padding-right: 100px;
}
.botn-enviar {
	color:white;
	background-color:#DB6D16;
	border:none;
	padding:5px 25px;
	margin-top:25px;
	margin-bottom:15%;
	border-radius:5px;
}
.parrafo-aceptar {
	color:#666666;
	display: initial !important;
	font-family: "HelveticaLTStd-Light";
}
::placeholder {
  color:#2D68AC;

}
.line-shape {
	height: 4px !important;
}